@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-underline {
  @apply relative after:contents after:absolute after:left-0 after:-bottom-2 after:w-full after:h-[1px] after:bg-red-600;
}

/* :root {
   --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.swiper-pagination-bullet {
  background-color: red !important;
  color: green;
  width: 20px;
  height: 10px;
  border-radius: 50%;
  margin: 50px 5px  !important;
  
}

/* .swiper-pagination-bullet:active{
  background-color: green !important;
} */
