@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;





/* :root {
   --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

h1 {
  font-family: 'Playfair Display', serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f3f3f3;            
}


.swiper-pagination-bullet {
  background-color: red !important;
  color: green;
  width: 20px;
  height: 10px;
  border-radius: 50%;
  margin: 50px 5px !important;

}

/* .swiper-pagination-bullet:active{
  background-color: green !important;
} */