
.fontColor{
    color: #18299D;
}


.drops:hover>ul {
    display: block;
    padding-top: 40px;
    z-index: 10;
}

.drop {
    display: none;
    position: absolute;
    background-color: #F3F3F3;
    width: 180px;
    border-radius: 5px;
}

.drop li{
    padding: 10px 0px;
    padding-left: 20px;
}


.drop2{
    display: none;
    position: absolute;
    background-color: #F3F3F3;
    width: 200px;
    border-radius: 5px;
}

.drop2 li{
    padding: 10px 0px;
    padding-left: 20px;
}


/* submenu last */
.dropLast:hover>ul {
    display: block;
    z-index: 10;
    padding-top: 5px;
}

.drop3{
    display: none;
    position: absolute;
    left: 99%;
    top: 70%;
    background-color: #F3F3F3;
    width: 200px;
    border-radius: 5px;
}

.drop3 li{
    padding: 10px 0px;
    padding-left: 20px;
}

/* mobile device css start here */
.dropsMobile:hover ul{
    display: block;
    z-index: 20;
    margin-left: 20px;
    background-color: none;
}

.dropMobile{
    display: none;
}

.dropMobile2{
    display: none;
    background-color: #F3F3F3;
}

.dropsMobile2:hover div{
    display: block;
    z-index: 30;
}