.Container {
    background: #F3F3F3;
    box-shadow: 0px 0.848323px 0.848323px -0.424161px rgba(0, 0, 0, 0.043);
}

.containerFont {
    color: #18299D;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

}

.containerFont:hover {
    color: red;
    background-color: none;
}


.drop {
    background-color: #F3F3F3;
}

.drops {
    display: none;
    position: relative;
    background-color: #F3F3F3;
    width: 200px;
    border-radius: 5px;
}

.drop:hover>ul {
    display: block;
    z-index: 20;
    padding-top: 30px;
}

.drop>ul>li {
    padding: 10px;
    padding-left: 20px;
}