.rootLinks1 {
  position: relative;
  // padding: 0 1rem;

  .rootLinks3 {
    display: none;
  }

  .rootLinks2 {
    display: none;
    position: absolute;
    min-width: max-content;
    left: 0;
    right: 0;

    // &:hover {
    //   .rootLinks3 {
    //     display: block;
    //   }
    // }

    .rootSubLinks2:hover {
      .rootLinks3 {
        display: block;
      }
    }
  }

  &:hover {
    .rootLinks2 {
      display: block;
    }

    .rootLinks3 {
      display: none;
    }
  }
}

.showSidebar {
  transform: translateX(0);
  transition: all ease-in 0.1s;
}

.hideSidebar {
  transform: translateX(-100%);
  transition: all ease-in 0.1s;
  position: fixed;
  top: 0;
  bottom: 0;
}
